{{ define "main" }}
  <header class="max-w-prose">
    <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
      projects
    </h1>
  </header>
  <section class="mt-0 prose flex max-w-full flex-col dark:prose-invert lg:flex-row">
    <div class="min-w-0 min-h-0 max-w-prose grow">
      <div class="lead !mb-9 text-xl">
        Come check out some of the things I’ve been working on
      </div>
    </div>
  </section>
  <section class="mt-8">
    {{ range .Pages }}
      <article class="mb-6">
        <a class="flex group" href="{{ .Params.internalUrl }}">
          <div class="mr-2 text-4xl text-neutral-400">
            <span class="relative inline-block align-text-bottom group-dark:hover:text-primary-400 transition-colors group-hover:text-primary-600">
              {{ partial "icon.html" .Params.icon }}
            </span>
          </div>
          <div>
            <h3 class="flex text-xl font-semibold decoration-primary-500 group-hover:underline group-hover:decoration-2 group-hover:underline-offset-2">
              {{ .Title }}
            </h3>
            <p class="text-sm text-neutral-400">
              {{ .Description }}
            </p>
          </div>
        </a>
      </article>
    {{ end }}
  </section>
{{ end }}
